<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.website.backend.backend_servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userDetailsServlet</servlet-name>
        <servlet-class>com.website.backend.backend_servlet.userDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDetailsServlet</servlet-name>
        <url-pattern>/userDetailsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserExistsServlet</servlet-name>
        <servlet-class>com.website.backend.backend_servlet.UserExistsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserExistsServlet</servlet-name>
        <url-pattern>/UserExistsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MakeAccountServlet</servlet-name>
        <servlet-class>com.website.backend.backend_servlet.MakeAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeAccountServlet</servlet-name>
        <url-pattern>/MakeAccountServlet</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>